name: Schema Check

on:
  pull_request:
    branches:
      - dev
      - main

jobs:
  check-schema:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Generate Zod schemas
        run: npm run generate-schemas

      - name: Fail if diff is present
        run: |
          if [ -n "$(git diff --exit-code)" ]; then
            echo "Schema files have changed. Please regenerate the schemas and commit the changes using the following command:"
            echo "npm run generate-schemas"
            exit 1
          else
            echo "No changes detected in schema files."
          fi
